@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {

background-image: url('./assets/sunlight-trees-deer-lake-water-nature-538419-wallhere.com.jpg');
font-family: 'Poppins', sans-serif;
}

.container {
    background: #fff;
max-width: 800px;
margin: 0 auto;
padding: 40px;
border-radius: 8px;
box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}

.current-info {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 40px;
}

.current-info .location {
font-size: 24px;
font-weight: 700;
color: #333;
}

.current-info .temperature {
font-size: 64px;
font-weight: 400;
color: #333;
}

.current-info .weather-description {
font-size: 24px;
font-weight: 400;
color: #333;
}

.future-forecast {
display: flex;
justify-content: space-between;
align-items: center;
}

.future-forecast .forecast-item {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
margin: 10px;
padding: 40px;
background: #fff;
border-radius: 8px;
box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}

.future-forecast .forecast-item .day {
font-size: 20px;
font-weight: 700;
margin-bottom: 10px;
color: #333;
}

.future-forecast .forecast-item .temperature {
font-size: 24px;
font-weight: 400;
color: #333;
}

@media only screen and (max-width: 768px) {
.container {
padding: 20px;
}

.current-info {
flex-direction: column;
text-align: center;
}

.current-info .location {
margin-bottom: 20px;
}

.current-info .temperature {
font-size: 48px;
}

.current-info .weather-description {
margin-top: 20px;
margin-bottom: 40px;
}

.future-forecast {
flex-direction: column;
}

.future-forecast .forecast-item {
margin: 20px 0;
padding: 20px;
}
}